.breadcrumb_area_five {
    padding: 215px 0px 360px;
    position: relative;
    z-index: 1;
}
.breadcrumb_area_two {
    /* position: relative;
    z-index: 1; */
    /* padding: 200px 0px 130px; */
    background-size: cover !important;
}
.breadcrumb_area_five .overlay {
    background: rgba(0, 0, 0, 0.6);
}
.breadcrumb_area_two .overlay {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: rgba(255, 74, 74, 0.8); */
    /* background: rgb(152 193 65 / 80%); */
    position: absolute;
    z-index: -1;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.breadcrumb_area_two ol li {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
}
.breadcrumb_area_two ol li a {
    color: #fff;
    position: relative;
    text-decoration: none;
}

.breadcrumb_area_two ol span a {
    color: #fff;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    position: relative;
    text-decoration: none;
}
.breadcrumb_area_two ol li a:after {
    content: "/";
    display: inline-block;
    top: 0;
    right: 0;
    margin: 0px 5px;
}
.contact_area {
    padding-bottom: 100px;
}
.mapBox1 {
    min-height: 500px;
    margin-top: -256px;
    z-index: 1;
    position: relative;
}
.contact_info {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #e5e5e5;
}
.contact_info_item {
    text-align: center;
}

.contact_info_item img {
    line-height: 42px;
    margin-bottom: 25px;
    max-height: 100px;
}
.contact_info_item .pr_title {
    margin-bottom: 14px;
}
.pr_title {
    font-size: 20px;
    font-weight: 600;
}
.contact_inner {
    padding-top: 80px;
}
.w_contact_text {
    padding-right: 150px;
}
.w_content_two {
    position: relative;
}
.contact_inner .w_content_two h2 {
    color: #101010;
    animation: fadeIn 0.5s both;
}
.contact_inner .w_content_two p {
    color: #777;
    animation: fadeIn 0.5s both;
}
.w_content_two p {
    margin-bottom: 35px;
    color: #fff;
}
.contact_form_box {
    overflow: hidden;
}
.contact_form_box .text_box {
    width: 100%;
    margin-bottom: 28px;
}
.contact_inner .contact_form_box .text_box input, .contact_inner .contact_form_box .text_box textarea {
    font-weight: 500;
    color: #101010;
}
.contact_form_box .text_box input, .contact_form_box .text_box textarea {
    width: 100%;
    height: 36px;
    font-size: 12px;
    padding-left: 0px;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0px;
    color: #fff;
}
.contact_form_box .p_btn {
    float: right;
}
/* .btn_hover_style:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.5s linear;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: transform;
    z-index: -1;
    background: rgba(0, 0, 0, 0.2);
} */
#success {
    color: lawngreen;
}
#success, #error {
    position: relative;
    top: 10px;
    right: 0;
    left: 0;
    display: none;
    font-weight: 600;
}
#error {
    color: orangered;
}
#success, #error {
    position: relative;
    top: 10px;
    right: 0;
    left: 0;
    display: none;
    font-weight: 600;
}
.breadcrumb_content h1 {
    font-size: 72px;
    line-height: 88px;
    color: #fff;
}
.social_link.social_link_two {
    padding-top: 5px;
}
.social_link {
    margin-bottom: 0px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.social_link li {
    display: inline-block;
}
.social_link.social_link_two li a {
    font-size: 25px;
    /* color: #ff33d1; */
}
.contact_info_item a {
    display: block;
    color: #777;
    text-decoration: none;
}

.contact_info_item a:hover {
    color: #1bbc9b;
}



.fa-facebook{
   color: blue;
}
.social_link li a {
    display: inline-block;
    font-size: 20px;
    color: #929197;
    transition: all 0.5s;
    width: 25px;
    height: 30px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.social_link li a img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
}
.contact_inner .w_content_two h2 {
    color: #101010;
    animation: fadeIn 0.5s both;
}
.w_content_two h2 {
    font-size: 80px;
    margin-bottom: 15px;
    color: #fff;
}
.contact_inner .w_content_two p {
    color: #777;
    animation: fadeIn 0.5s both;
}