.service-wrap{
    background-image: url('../images/bg-service.png');
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    background-size: cover;
    padding: 60px 0;
    // margin: 100px 0 0;
    .row{
        row-gap: 40px;
    }
    h2, h4{
        color: $white-color;
    }
    h4{
        padding: 15px 0 45px 0;
    }
    .content-inner{
        width: 100%;
        position: relative;
        transform-style: preserve-3d;
        perspective: 1000px;
        backface-visibility: hidden;
        height: 100%;
        transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        .content-front, .content-back{
            position: relative;
            transform-style: preserve-3d;
            perspective: 1000px;
            backface-visibility: hidden;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 45px 30px;
            background-color: $white-color;
            h5{
                color: $main-color;
                padding-top: 20px;
            }
            span{
                position: absolute;
                color: transparent;
                -webkit-text-stroke: 2px #7973C9;
                font-size: 50px;
                top: 5px;
                right: 15px;
            }
        }
        > *{
            backface-visibility: hidden;
            transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        .cf-inner{
            width: 100%;
            .inner{
                align-items: stretch;
                transform-style: preserve-3d;
                perspective: 1000px;
                backface-visibility: hidden;
                // transform: scale(0.81);
                position: relative;
                z-index: 99;
                p{
                    color: $white-color;
                }
            }
        }
        .content-back{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            transform: rotateY(180deg);
            background: #443ea1;
        }
        &:hover{
            .content-front{
                transform: rotateY(-180deg);
            }
            .content-back{
                transform: rotateY(0deg);
            }
        }
    }
}